%h1.title
  = t('ticket.titles.new_message')
.border-form-div
  = form_for @ticket do |f|
    = f.fields_for :customer do |c|
      = c.text_field :first_name, autofocus: true, placeholder: 'First Name'
      = c.text_field :last_name, placeholder: 'Last Name'
      = c.text_field :email, placeholder: 'Email'
    = f.text_field :description, placeholder: 'Ticket Description'
    = f.button "Create", id: "create"