#page-body
  %h2.title
    = "#{t('pages.ticket.show.show_ticket')} #{@ticket.slug}"
  .description
    = "#{t('pages.ticket.show.labels.description')} #{@ticket.description}"
  .ticket-body
    = render 'tickets/ticket_body', {ticket: @ticket, comments: @comments}