#page-body
  %h1.title
    = "#{t('ticket.titles.show_ticket')} #{@ticket.slug}"
  .row
    .col-md-4
    .col-md-4
      = @ticket.description
      %div.ticket_comments_section
        %table.table
          %tbody
            - @ticket.comments.each do |comment|
              %tr
                %td
      %div.ticket_update_section
        - if can? :update, @ticket
          = form_for @ticket do |f|
            = f.fields_for :comments, Comment.new do |c|
              = c.label :message
              = c.text_area :message, class: 'form-control margin-bottom-10', rows: '3'
            = f.submit t("Update"), class: 'btn'
    .col-md-4
