!!!
%html
  %head
    %title IssueTracking
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        = render 'layouts/user_header'
        %h3.muted= link_to t('home.titles.site_name'), root_path
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      %hr/
      = yield